Repository aravindvnair99/ACM-Amrita-2019-2020-Assignments, changes with the owners that CODEOWNERS names for each.
All owners: @AravindVNair99, @adithyaRocks, @sa-gandheesh, @LavanyaSirisha, @juturmanogna, @mlscmoulika, @PriyaaIyer, @rohitraju1966, @Shreya1304, @Nuthi-Sriram, @Subaharish, @VinayakTekade, @vishnuvkaimal

Added solution to Registeration Page
  Vinayak/HTML/registrationPage/register.html
Owners: @VinayakTekade

Refactor
  Vinayak/HTML/pokemonChart/pokemon.html
Owners: @VinayakTekade

Add @Nuthi-Sriram's registration page.
  Sriram/Reg.html
Owners: @Nuthi-Sriram

Added assignment 3 (#35)
  Priyaa/HTML Basics Remake/Assignment-1.html
  Priyaa/HTML Basics Remake/Assignment-2.html
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer

Completed the assignments. (#47)
  Gandheesh/1.Basics.html
  Gandheesh/2.Table.html
  Gandheesh/3.Form.html
Owners: @sa-gandheesh

@ rohitraju1966 Add assignments
  Rohit/HTML basics remake/form.html
Owners: @rohitraju1966

@mlscmoulika Add assignments
  Moulika/ass3.html
Owners: @mlscmoulika

@LavanyaSirisha Add assignments
  Lavanya/HTMLassignment2.html
  Lavanya/HTMLassignment3.html
Owners: @LavanyaSirisha

@Shreya1304 Add assignments
  Shreya/HTML Basics Remake/form.html
Owners: @Shreya1304

@vaishnavi2002 Add assignments
  Vaishnavi/ass1.html
  Vaishnavi/ass2.html
  Vaishnavi/ass3.html
Owners: @AravindVNair99

[ImgBot] Optimize images
  Adithya/HTMLbasicsremake/001Bulbasaur.png
  Adithya/HTMLbasicsremake/004Charmander.png
  Adithya/HTMLbasicsremake/007Squirtle.png
Owners: @adithyaRocks

assignment 1 is optimised and refactored
  Subaharish/HTML BASICS/assignment1.html
Owners: @Subaharish

@adithyaRocks Add assignments
  Adithya/HTMLbasicsremake/001Bulbasaur.png
  Adithya/HTMLbasicsremake/004Charmander.png
  Adithya/HTMLbasicsremake/007Squirtle.png
  Adithya/HTMLbasicsremake/Pokemon .html
  Adithya/HTMLbasicsremake/form.html
  Adithya/HTMLbasicsremake/hello.html
Owners: @adithyaRocks

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @AravindVNair99

assignment 3 is optimised and refactored
  Subaharish/HTML BASICS/assignment1.html
  Subaharish/HTML BASICS/assignment2.html
  Subaharish/HTML BASICS/assignment3.html
Owners: @Subaharish

assignment 2 is optimised and refactored
  Subaharish/HTML BASICS/assignment2.html
Owners: @Subaharish

assignment 1 is optimised and refactored
  Subaharish/HTML BASICS/assignment1.html
Owners: @Subaharish

@Subaharish HTML Registration
  Subaharish/HTML BASICS/assignment3.html
Owners: @Subaharish

assignment 1 is optimised and refactored
  Subaharish/HTML BASICS/assignment1.html
Owners: @Subaharish

assignment 2 is optimised and refactored
  Subaharish/HTML BASICS/assignment1.html
  Subaharish/HTML BASICS/assignment2.html
Owners: @Subaharish

assignment 1 is optimised and refactored
  Subaharish/HTML BASICS/assignment1.html
Owners: @Subaharish

assignment 3 is optimised and refactored
  Subaharish/HTML BASICS/assignment2.html
  Subaharish/HTML BASICS/assignment3.html
Owners: @Subaharish

Recloning the repository
  Priyaa/HTML Basics Remake/Assignment-1.html
  Priyaa/HTML Basics Remake/Assignment-2.html
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer

Added assignment 8
  Subaharish/HTML BASICS/assignment1.html
  Subaharish/HTML BASICS/assignment2.html
  Subaharish/HTML BASICS/assignment3.html
Owners: @Subaharish

Added assignment 8
  Subaharish/HTML BASICS/assignment1.html
  Subaharish/HTML BASICS/assignment2.html
  Subaharish/HTML BASICS/assignment3.html
Owners: @Subaharish

Refactored
  Subaharish/HTML BASICS/assignment1.html
Owners: @Subaharish

Added assignment 8
  Priyaa/HTML Basics Remake/1.HTML Remake/WIKIPEDIA.html
  Priyaa/HTML Basics Remake/2.Table Remake/POKEMON.html
  Priyaa/HTML Basics Remake/3.Form Remake/REGISTRATION.html
  Priyaa/HTML Basics Remake/Assignment-1.html
  Priyaa/HTML Basics Remake/Assignment-2.html
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer

Changed HHTP to HTTPS
  Priyaa/HTML Basics Remake/2.Table Remake/POKEMON.html
Owners: @PriyaaIyer

Changed to HTML 5
  Priyaa/HTML Basics Remake/2.Table Remake/POKEMON.html
Owners: @PriyaaIyer

updated ass3.html
  Moulika/ass3.html
Owners: @mlscmoulika

Added Assignment 8
  Gandheesh/1. HTML Assignments/1.Basics.html
  Gandheesh/1. HTML Assignments/2.Table.html
  Gandheesh/1. HTML Assignments/3.Form.html
  Gandheesh/2.Table.html
Owners: @sa-gandheesh

Added assignment - 8
  Shreya/HTML Basics Remake/form.html
  Shreya/HTML Basics Remake/tableClone.html
  Shreya/HTML Basics Remake/wikipediaClone.html
Owners: @Shreya1304

Corrected
  Shreya/HTML Basics Remake/tableClone.html
Owners: @Shreya1304

Add files
  Adithya/HTMLbasicsremake/001Bulbasaur.png
  Adithya/HTMLbasicsremake/004Charmander.png
  Adithya/HTMLbasicsremake/007Squirtle.png
  Adithya/HTMLbasicsremake/Pokemon .html
  Adithya/HTMLbasicsremake/form.html
  Adithya/HTMLbasicsremake/hello.html
  Adithya/HTMLbasicsremake/s-l300.jpg
  Adithya/README.md
Owners: @adithyaRocks

Refactor
  Adithya/HTMLbasicsremake/Pokemon .html
  Adithya/HTMLbasicsremake/Pokemon.html
  Adithya/HTMLbasicsremake/form.html
  Adithya/HTMLbasicsremake/hello.html
Owners: @adithyaRocks

Refactor
  Shreya/HTML Basics Remake/form.html
  Shreya/HTML Basics Remake/tableClone.html
Owners: @Shreya1304

assignment 3 modified by changing to tab indent mode (4)
  Moulika/ass3.html
Owners: @mlscmoulika

assignment 2 modified by changing to tab indent mode (4)
  Moulika/ass2.html
Owners: @mlscmoulika

changed assignment 2 with tab intendation
  Moulika/ass2.html
Owners: @mlscmoulika

assignment 1 modified by changing to tab indent mode (4)
  Moulika/ass1.html
Owners: @mlscmoulika

CODEOWNERS:

*	@AravindVNair99

Adithya/	@adithyaRocks
Gandheesh/	@sa-gandheesh
Lavanya/	@LavanyaSirisha
Manogna/	@juturmanogna
Moulika/	@mlscmoulika
# Prateek/
Priyaa/	@PriyaaIyer
Rohit/	@rohitraju1966
Shreya/	@Shreya1304
# Shruti/
Sriram/	@Nuthi-Sriram
Subaharish/	@Subaharish
# Vaishnavi/
Vinayak/	@VinayakTekade
Vishnu/	@vishnuvkaimal
