Repository aravindvnair99/ACM-Amrita-2019-2020-Assignments, changes with the owners that CODEOWNERS names for each.
All owners: @AravindVNair99, @adithyaRocks, @sa-gandheesh, @LavanyaSirisha, @juturmanogna, @mlscmoulika, @PriyaaIyer, @rohitraju1966, @Shreya1304, @Nuthi-Sriram, @Subaharish, @VinayakTekade, @vishnuvkaimal

CODEOWNERS:

*	@AravindVNair99

Adithya/	@adithyaRocks	@AravindVNair99
Gandheesh/	@sa-gandheesh	@AravindVNair99
Lavanya/	@LavanyaSirisha	@AravindVNair99
Manogna/	@juturmanogna	@AravindVNair99
Moulika/	@mlscmoulika	@AravindVNair99
Prateek/	@AravindVNair99
Priyaa/	@PriyaaIyer	@AravindVNair99
Rohit/	@rohitraju1966	@AravindVNair99
Shreya/	@Shreya1304	@AravindVNair99
Shruti/	@AravindVNair99
Sriram/	@Nuthi-Sriram	@AravindVNair99
Subaharish/	@Subaharish	@AravindVNair99
Vaishnavi/	@AravindVNair99
Vinayak/	@VinayakTekade	@AravindVNair99
Vishnu/	@vishnuvkaimal	@AravindVNair99

form id replacement
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Added required fields
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Made 2 forms into 1
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

corrected mistakes
  Rohit/HTML basics remake/form.html
Owners: @rohitraju1966, @AravindVNair99

corrected changes
  Shreya/HTML Basics Remake/form.html
Owners: @Shreya1304, @AravindVNair99

Added autocomplete and placeholder
  Sriram/Reg.html
Owners: @Nuthi-Sriram, @AravindVNair99

Added specifics to autocomplete
  Sriram/Reg.html
Owners: @Nuthi-Sriram, @AravindVNair99

Added conditions given in doc
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Added auto-complete and label id
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Removed the password autocomplete error
  Sriram/Reg.html
Owners: @Nuthi-Sriram, @AravindVNair99

Added individual autocomplete fields
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

First name and last name
  Sriram/Reg.html
Owners: @Nuthi-Sriram, @AravindVNair99

Added necessary autocomplete fields
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Made changes required fields
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Removed autocomplete from gender
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Added solution to Registeration Page
  Vinayak/HTML/registrationPage/register.html
Owners: @VinayakTekade, @AravindVNair99

Added solution to Registeration Page
  Vinayak/HTML/registrationPage/register.html
Owners: @VinayakTekade, @AravindVNair99

bday autocomplete
  Vinayak/HTML/registrationPage/register.html
Owners: @VinayakTekade, @AravindVNair99

Added required and autocomplete
  Sriram/Reg.html
Owners: @Nuthi-Sriram, @AravindVNair99

Registration form solution
  Vinayak/HTML/registrationPage/register.html
Owners: @VinayakTekade, @AravindVNair99

wrapped content in div
  Lavanya/HTMLassignment1.html
Owners: @LavanyaSirisha, @AravindVNair99

Used label instead of b
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Included label tags at all necessary places
  Priyaa/HTML Basics Remake/Assignment-3.html
Owners: @PriyaaIyer, @AravindVNair99

Added new-password and bday autocomplete
  Sriram/Reg.html
Owners: @Nuthi-Sriram, @AravindVNair99

rectified mistake
  Sriram/Reg.html
Owners: @Nuthi-Sriram, @AravindVNair99

ass3updated@mlscmoulika
  Moulika/ass3.html
Owners: @mlscmoulika, @AravindVNair99

Applied changes
  Subaharish/HTML BASICS/assignment3.html
Owners: @Subaharish, @AravindVNair99

ass1@vaishnavi
  Vaishnavi/ass1.html
Owners: @AravindVNair99

Deleteass1@vaishnavi
  Vaishnavi/ass1.html
Owners: @AravindVNair99

updatedass1@vaishnavi
  Vaishnavi/ass1.html
Owners: @AravindVNair99

ass1@vaishnavi
  ass2.html
Owners: @AravindVNair99

Deletedass2@vaishnavi
  ass2.html
Owners: @AravindVNair99

updatedass2@vaishnavi
  Vaishnavi/ass2.html
Owners: @AravindVNair99

ass3@vaishnavi
  Vaishnavi/ass3.html
Owners: @AravindVNair99

Removed strong tag
  Sriram/Reg.html
Owners: @Nuthi-Sriram, @AravindVNair99

made changes
  Rohit/HTML basics remake/form.html
Owners: @rohitraju1966, @AravindVNair99
